<script>
  const mobileMenuButton = document.querySelector('.mobile-menu-button');
  const mobileMenuClose = document.querySelector('.mobile-menu-close');
  const mobileMenu = document.querySelector('.mobile-menu');
  const menuOverlay = document.querySelector('.menu-overlay');
  const mobileMenuLinks = document.querySelectorAll('.mobile-menu a');

  function toggleMobileMenu() {
    mobileMenu.classList.toggle('active');
    menuOverlay.classList.toggle('active');
    document.body.classList.toggle('overflow-hidden');
  }

  mobileMenuButton.addEventListener('click', toggleMobileMenu);
  mobileMenuClose.addEventListener('click', toggleMobileMenu);
  menuOverlay.addEventListener('click', toggleMobileMenu);
  mobileMenuLinks.forEach(link => link.addEventListener('click', toggleMobileMenu));
</script>
